<!DOCTYPE html>
<html>
  <head>
    <title>Fabify</title>
      <meta property="og:title" content="Fabify" />
      <meta property='og:image' content="<%= image_url('fabifygiphy.gif') %>"/>
      <meta property="og:description"
       content="Fabify, a Spotify clone, is a music platform where users can create playlists, view artists, and listen to their favorite music. Fabify exclusively features currated content created by artists that identify as LBGTQIA+."
     />
       <meta property="og:url"
       content="https://fabify.herokuapp.com/"
     />

<!-- Facebook Meta Tags -->
     <meta property="og:url" content="http://fabify.herokuapp.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Fabify">
    <meta property="og:description" content="Fabify, a Spotify clone, is a music platform where users can create playlists, view artists, and listen to their favorite music. Fabify exclusively features currated content created by artists that identify as LBGTQIA+.">
    <meta property="og:image" content="http://fabify.herokuapp.com/assets/fabify-giphy-ee3a555e2e86377890e0dedf8f469f40469580bd845f2f8455d3334b571a6177.gif">

<!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Fabify">
    <meta name="twitter:description" content="Fabify, a Spotify clone, is a music platform where users can create playlists, view artists, and listen to their favorite music. Fabify exclusively features currated content created by artists that identify as LBGTQIA+.">
    <meta name="twitter:image" content="http://fabify.herokuapp.com/assets/fabify-giphy-ee3a555e2e86377890e0dedf8f469f40469580bd845f2f8455d3334b571a6177.gif">


  <script type="text/javascript">
      window.spotifyLogoURL = "<%= image_url('spotify_logo.png') %>";
      window.whiteSpotifyLogoURL = "<%= image_url('white_logo.png') %>";
      window.whiteFabifyLogoURL = "<%= image_url('fabify_logo.png') %>";
      window.whitePlayButton = "<%= image_url('play_arrow-white-18dp.svg') %>";
      window.whitePlayCircleButton = "<%= image_url('play_circle_outline-white-18dp.svg') %>";
      window.whitePauseCircleButton = "<%= image_url('pause-white-18dp.svg')%>";
      window.whitePauseButton = "<%= image_url('pause-white-18dp.svg') %>";
      window.whiteVolumeIcon = "<%= image_url('volume_up-white-18dp.svg') %>";
      window.whitePreviousIcon = "<%= image_url('skip_previous-white-18dp.svg') %>";
      window.whiteNextIcon = "<%= image_url('skip_next-white-18dp.svg') %>";
  </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('hiclipart.com.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
