<!DOCTYPE html>
<html>
  <head>
    <title>Fabify</title>
  <meta property="og:title" content="Fabify" />
     <meta property='og:image' content="<%= image_url('meta-image.png') %>"/>
     <meta property="og:description"
       content="walk this way provides data on your carbon footprint encouraging users to walk or bike on their daily commute."
     />
       <meta property="og:url"
       content="https://johnrobertmcc.github.io/walk-this-way/"
     />

  <script type="text/javascript">
      window.spotifyLogoURL = "<%= image_url('spotify_logo.png') %>";
      window.whiteSpotifyLogoURL = "<%= image_url('white_logo.png') %>";
      window.whiteFabifyLogoURL = "<%= image_url('fabify_logo.png') %>";
      window.whitePlayButton = "<%= image_url('play_arrow-white-18dp.svg') %>";
      window.whitePlayCircleButton = "<%= image_url('play_circle_outline-white-18dp.svg') %>";
      window.whitePauseCircleButton = "<%= image_url('pause-white-18dp.svg')%>";
      window.whitePauseButton = "<%= image_url('pause-white-18dp.svg') %>";
      window.whiteVolumeIcon = "<%= image_url('volume_up-white-18dp.svg') %>";
      window.whitePreviousIcon = "<%= image_url('skip_previous-white-18dp.svg') %>";
      window.whiteNextIcon = "<%= image_url('skip_next-white-18dp.svg') %>";
  </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('hiclipart.com.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
