<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript">
      window.spotifyLogoURL = "<%= image_url('spotify_logo.png') %>";
      window.whiteSpotifyLogoURL = "<%= image_url('white_logo.png') %>";
      window.whiteFabifyLogoURL = "<%= image_url('fabify_logo.png') %>";
      window.whitePlayButton = "<%= image_url('play_arrow-white-18dp.svg') %>";
      window.whitePauseButton = "<%= image_url('pause-white-18dp.svg') %>";
</script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
